[Desktop Entry]
Type=Application
Name=Desktop Cat
Comment=A pixel-cat desktop companion
Exec=desktop-cat
Icon=io.github.gavvahar.DesktopCat
Categories=Utility;
Terminal=false
